{% extends "base.html" %}



{% block body %}
<div class="clear span-24 last" id="notifications">
	{% if notifications %}
		<ul class="notifications">
			{% for message in notifications %}
			<li {% if message.tags %}class="{{ message.tags }}"{% endif %}>{{ message }}</li>
			{% endfor %}
		</ul>
	{% endif %}
</div>
	
<div class="clear span-24 last" id="map"></div>

<div class="clear span-12" id="about">
	<h2>About</h2>
	<p>
		We believe in Coimbra's disruptive potential and the great work made
		by some of the region's entrepreneurs. Following our effort on the
		<a href="http://ineo.pt">Ineo blog</a> to increase awareness on innovation, 
		entrepreneurship and startups, 
		we made this directory to include the most innovative enterprises 
		in and around Coimbra.
		
		We want to promote not only the solid companies changing the region's
		industry ecosystem, but also the exciting projects emerging.
	</p>
</div>

<div class="span-12 last" id="companies">
	<h2>Companies ({{companies|length}})</h2>
	<ul>
		{% for company in companies %}
			<li><a href="#" onclick="changeMap({{company.id}})">{{ company.name }}</a> </li>
		{% endfor %}
	</ul>
	<p></p>
	<p><a href="{% url submit-company %}">Submit a new company</a></p>
</div>
  
{% endblock %}

{% block additional_js %}

<script type="text/javascript" src="http://www.google.com/jsapi?key={{ GOOGLE_KEY }}"></script>
<script type="text/javascript">
<!--
  google.load("maps", "2.x");

  var map;
  var companies;
  
  // Call this function when the page has been loaded
  function initialize() {
    map = new google.maps.Map2(document.getElementById("map"));
	map.addControl(new GSmallZoomControl());
    map.addControl(new GMapTypeControl());
    map.setCenter(new google.maps.LatLng(40.20614809577503, -8.41552734375), 12);

	companies = [
		{% for company in companies %}
			{ 'id':{{company.id}}, 
			  'name':'{{company.name}}', 
			  'description':'{{company.description}}',
			  'tags':'{{company.tags}}',
			  'logo':'{{company.logo}}', 
			  'website':'{{company.website}}', 
			  'latitude':{{company.map_lat}}, 
			  'longitude':{{company.map_lon}} }
			{% if not forloop.last %},{% endif %}
		{% endfor %}
	];
	
	var ineoIcon = new GIcon();
	ineoIcon.image = {{MEDIA_URL}} + 'images/ineo_marker.png';
	ineoIcon.shadow = "";
	ineoIcon.iconSize = new GSize(20, 23);
	ineoIcon.iconAnchor = new GPoint(6, 20);
	ineoIcon.infoWindowAnchor = new GPoint(5, 1);
	// Set up our GMarkerOptions object literal
	var markerOptions = { icon:ineoIcon };
	
	for (var i=0; i<companies.length; i++) {
		var marker = new GMarker(new google.maps.LatLng(companies[i].latitude, companies[i].longitude), markerOptions);
		marker.company = companies[i];
		companies[i].marker = marker;
		map.addOverlay(marker);
		GEvent.addListener(marker, "click", function() {
				this.openInfoWindowHtml(companyWindowHtml(this.company));
			}
		);
  	}
  }
  
  function companyWindowHtml(company) {
  	var output = '<div style="width:220px; height:120px; overflow:auto; text-align: center;"><a href="' + company.website + '">';
	if (company.logo) {
		output += '<img src="{{MEDIA_URL}}' + company.logo + '" style="max-width: 200px; max-height: 70px;" />';
	}
	output += '<h4>' + company.name + '</h4>';

	if(company.website)
	{
		output += '<h4>' + company.website + '</h4>';
	}
	output += '</a>';

	if(company.description)
	{
		output += '<h4 style="font-size:75%">' + company.description + '</h4>';
	}

	if(company.tags)
	{
		output += '<h4>' + 'Tags' + '</h4>';
		output += '<h4 style="font-size:75%">' + company.tags + '</h4>';
	}

	output += '</div>';

  	return output;
  }
  
  function changeMap(company_id) {
	for (var i=0; i<companies.length; i++) {
		if (companies[i].id == company_id) {
			map.panTo(new GLatLng(companies[i].latitude,companies[i].longitude));
			companies[i].marker.openInfoWindowHtml(companyWindowHtml(companies[i]));
		}
	}
  }
  
  google.setOnLoadCallback(initialize);
// -->
</script>

{% endblock %}