{% extends "base.html" %}



{% block body %}
<div class="clear span-12" id="notifications">
	{% if notifications %}
		<ul class="notifications">
			{% for message in notifications %}
			<li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
			{% endfor %}
		</ul>
	{% endif %}
</div>
	
  <div class="clear span-24 last" id="map"></div>
  
  <div class="clear span-12" id="about">
	<h2>About</h2>
	<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean tincidunt hendrerit erat et venenatis. Nunc sem diam, dictum at malesuada vitae, placerat non nulla. Sed massa nibh, dictum sit amet posuere ut, aliquet sed turpis. Duis aliquam adipiscing consequat. Aliquam pharetra congue sollicitudin. Sed hendrerit vestibulum nibh, eu condimentum justo fermentum sed. Aenean quis viverra urna. Suspendisse potenti. Nulla volutpat congue purus, non posuere lacus ornare eget. Nam in ipsum lacus, sed consectetur libero. Maecenas quis interdum justo.</p></div>
  <div class="span-12 last" id="companies">
	<h2>Companies ({{companies|length}})</h2>
	<ul>
		{% for company in companies %}
				<li><a href="#" onClick="changeMap(37.4569,37.4569)">{{ company.name }}</a> </li>
		{% endfor %}
	</ul>
  </div>
  
  <div class="span-12 last" id="submit">
	<h2>Submit New Company</h2>
	<p>Submit new company <A href="../submit/">here</A></p>
  </div>
  
{% endblock %}

{% block end_scripts %}

<script type="text/javascript" src="http://www.google.com/jsapi?key=ABCDEFG"></script>
<script type="text/javascript">
  google.load("maps", "2.x");
  var map;
  
  // Call this function when the page has been loaded
  function initialize() {
    map = new google.maps.Map2(document.getElementById("map"));
	map.addControl(new GSmallZoomControl());
    map.addControl(new GMapTypeControl());
    map.setCenter(new google.maps.LatLng(40.20614809577503, -8.41552734375), 12);

	var companies = [
		{% for company in companies %}
			{ 'id':{{company.id}}, 
			  'name':'{{company.name}}', 
			  'logo':'{{company.logo}}', 
			  'website':'{{company.website}}', 
			  'latitude':{{company.map_lat}}, 
			  'longitude':{{company.map_lon}} }
			{% if not forloop.last %},{% endif %}
		{% endfor %}
	];
	
	var ineoIcon = new GIcon();
	ineoIcon.image = {{MEDIA_URL}} + 'images/ineo_marker.png';
	ineoIcon.shadow = "";
	ineoIcon.iconSize = new GSize(20, 23);
	ineoIcon.iconAnchor = new GPoint(6, 20);
	ineoIcon.infoWindowAnchor = new GPoint(5, 1);
	// Set up our GMarkerOptions object literal
	var markerOptions = { icon:ineoIcon };
	
	for (var i=0; i<companies.length; i++) {
		var marker = new GMarker(new google.maps.LatLng(companies[i].latitude, companies[i].longitude), markerOptions);
		marker.company = companies[i];
		map.addOverlay(marker);
		GEvent.addListener(marker, "click", function() 
			{
				this.openInfoWindowHtml(companyWindowHtml(this.company));
			}
		);
  	}
  }
  
  function companyWindowHtml(company) {
  	return '<a href="' + company.website + '"><img src="{{MEDIA_URL}}' + company.logo + '" /><h4>' + company.name + '</h4></a>';
  }
  
  function changeMap(latitude, longitude)
  {
	window.open("win1.html");
	map.panTo(new GLatLng(latitude, longitude));
  }
  
  google.setOnLoadCallback(initialize);
</script>

{% endblock %}